m
a.out
lcov.info
build/
CMakeFiles/
Testing/Temporary/LastTest.log
Testing/Temporary/CTestCostData.txt
Testing/Temporary/LastTestsFailed.log
unitTests
Makefile
m-tests.gcda
CTestTestfile.cmake
CMakeCache.txt
cmake_install.cmake
coverage_html/
